ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: center;
}

ul li a {
  display: block;
  color: white;
  text-align:center;
  padding: 4px 8px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #123456;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: center;

}

/* trouver sur https://www.w3schools.com/css/css_list.asp */
